html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    link(rel='apple-touch-icon',sizes='180x180',href='/apple-touch-icon.png')
    link(rel='icon',type='image/png',sizes='32x32',href='/favicon-32x32.png')
    link(rel='icon',type='image/png',sizes='16x16',href='/favicon-16x16.png')
    link(rel='manifest',href='/manifest.json')
    link(rel='mask-icon',href='/safari-pinned-tab.svg',color='#5bbad5')
    meta(name='theme-color',content='#ffffff')

    title= title
    link(rel='stylesheet',href='style.css')
    link(rel='stylesheet',href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css')
  body
    div(class='container')
        nav(class='navbar navbar-default')
            div(class='container-fluid')
                h1(align='center')= title
                div(class='btn-group btn-group-lg btn-group-justified')
                    each opt in options
                        a(class=(opt===day) ? 'btn btn-default btn-primary' : 'btn btn-default', href='/' + opt)= opt

        div(id='map')

    script(src='/socket.io/socket.io.js')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js')
    script(src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js')
    script(src='map.js')

